#SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTR{idVendor}=="1a86", ATTR{idProduct}=="7523", SYMLINK+="ttyDeej0"
SUBSYSTEMS=="usb-serial", DRIVERS=="ch341-uart", SYMLINK+="ttyDeej0"
